<table class="table table-striped">
    <tr><td style="width: 1px;"></td><td><b>Task</b></td><td><b>Options</b></td></tr>
    <tr>
        <td>
            <span class="label label-success">Done</span>
        </td>
        <td><p><b>Task title</b></p><p>Task description</p></td>
        <td>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
            <span><button class="btn">Mark In Progress</button></span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="label label-important">In Progress</span>
        </td>
        <td><p><b>Task title</b></p><p>Task description</p></td>
        <td>
            <button class="btn">Edit</button>
            <button class="btn">Delete</button>
            <span><button class="btn">Mark Done</button></span>
        </td>
    </tr>
</table>
<button class="btn">Add Task</button>

